.nav{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.container a{
    color:white;
}

.navbar-brand{
    font-size: 20px;
}
.navbar-nav{
    font-size: 15px;


}
.container1{
    display: flex;
    justify-content: center;
    background-color:lightgray;
    padding:20px 10px;
    border-radius: 15px;
    border:3px black solid;
}
.head1{
    display: flex;
    justify-content: center;
}
.container2{
    display:flex;
    justify-content: center;
    padding-bottom: 35px;
}
.card-body{
    text-align: center;
    padding-bottom: 10px;
}
.container2 img{
    height:200px;
    width:275;
}
.row1,.row2,.row3,.row4{
    border-radius: 5px;
    border: 2px black solid;
    box-shadow: 10px 10px grey;
}
.items{
    padding-top:50px;
}
.footer{
        text-align: center;
        background-color: black;
        color:#f8f8f8;
        margin-top:15px;
}
.pur{
    text-decoration: none;
}
.order{
    display:flex;
    justify-content: center;
    background-color: #c1bfbf;
    margin:40px;
    padding:20px;
    
   
    border:solid 1px black;
    border-radius: 5px;
}
.pass-cont{
    display:flex;
    justify-content: center;
    padding-top:30px;
}
.pass{
    padding-bottom: 15px;
}
.pass-ip{
    padding-bottom: 10px;
}
.ipp{
    width:100%;
    display: flex;
    background-color:aliceblue;
    border-radius: 8px;
    padding:5px;
}

.btn4{
    color:white;
    padding:8px;
    border-radius:5px;
    
}
.button4{
    display:flex;
    justify-content: center;
    padding-top: 10px;
}

.row1,.row2,.row3,.row4>img{
    height:200px;
    width:285px;
}
.cards{
    padding-bottom:20px;
}

